include LICENSE
include requirements.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

recursive-include metagraph_workflows/snakemake *.smk Snakefile default.yml
recursive-include metagraph_workflows/snakemake/example_data *.fa
recursive-exclude **/.snakemake *
