[submodule "metagraph/external-libraries/libmaus2"]
	path = metagraph/external-libraries/libmaus2
	url = https://github.com/akahles/libmaus2.git
  ignore = untracked
[submodule "metagraph/external-libraries/sdsl-lite"]
	path = metagraph/external-libraries/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
  ignore = untracked
[submodule "metagraph/external-libraries/rollinghashcpp"]
	path = metagraph/external-libraries/rollinghashcpp
	url = https://github.com/hmusta/rollinghashcpp
[submodule "metagraph/external-libraries/hopscotch-map"]
	path = metagraph/external-libraries/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "metagraph/external-libraries/ips4o"]
	path = metagraph/external-libraries/ips4o
	url = https://github.com/SaschaWitt/ips4o.git
[submodule "metagraph/external-libraries/graph_annotation"]
	path = metagraph/external-libraries/graph_annotation
	url = https://github.com/ratschlab/graph_annotation.git
  ignore = untracked
