*.fa
*.fai
!metagraph/tests/data/*.fa
!metagraph/tests/data/*.fai
metagraph/tests/data/*dump_test*
visualization/geolocation/data/*
.history
*/metagraph
testrun*
*.dbg
*.annodbg
*.edgemask
*.dbgchunk
*.dbgsdchunk
*.fna
*.gch
database-cli
*.DS_Store
*._*
build
build_profile
build_debug
.*.swp
.ipynb_checkpoints
*lsf.o*
*.lsf
*.pyc

