*.fa
*.fai
!metagraph/tests/data/*.fa
!metagraph/tests/data/taxonomic_data/*.fa
!metagraph/tests/data/*.fai
metagraph/tests/data/*dump_test*
projects/*/temp
visualization/geolocation/data/*
.history
*/metagraph
testrun*
*.dbg
*.annodbg
*.edgemask
*.dbg.chunk*
*.dbgsdchunk
*.fna
*.gch
database-cli
*.DS_Store
*._*
metagraph/build*
metagraph/**/build*
.*.swp
.ipynb_checkpoints
*lsf.o*
*.lsf
*.pyc
*.un~
tags
**/cmake-build-debug
.idea
