*.fa
.history
*/metagraph
testrun*
*.dbg
*.fna
metagraph/external-libraries/
metagraph/external-libraries/libmaus2-lib
metagraph/external-libraries/seqan-include
!metagraph/external-libraries/README
a.out
