.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #bd0d38;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #bd0d38;
  cursor: pointer;
}


table#matched_samples tr:nth-child(n+14) {
  display: none;
}
/* hide the checkbox that manipulates last table rows */
#show_results {
  display: none;
}
/* hide "hide" button */
#show_results ~ #showLessBtn {
  display: none;
}
/* show all */
#show_results:checked ~ table#matched_samples tr:nth-child(n+14) {
  display: table-row;
}
#show_results:checked ~ label#showMoreBtn {
  display: none;
}
#show_results:checked ~ label#showLessBtn {
  display: inline;
}
