.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #bd0d38;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #bd0d38;
  cursor: pointer;
}


/* hide the checkbox that manipulates last table rows */
#show_results {
  display: none;
}
/* hide last rows */
table#matched_samples tr:nth-child(n+14) {
  display: none;
}
/* show last rows if the box is checked */
#show_results:checked ~ table#matched_samples tr:nth-child(n+14) {
  display: table-row;
}
