<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GeoDNA Search</title>
    <meta name="description" content="Search Geo Locations for DNA Sequences">
    <meta name="author" content="Mikhail Karasikov">

    <link rel="icon" type="image/gif" href="static/deBruijnDNA.gif"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link href="./static/styles.css" rel="stylesheet">
<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
</style>

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.karasikov.com">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="./geodna">GeoDNA</a></li>
        <li><a href="./">Visualize</a></li>
<!--         <li><a href="https://drive.google.com/drive/folders/0B3zcrZZIqs3fTGx6RVI3ZnVtNUU?usp=sharing">Download</a></li>
        <li><a href="./static/manuals.html">Manual</a></li>
        <li><a href="./complete">Complete</a></li> -->
      </ul>
    </div>
  </nav>

  <div class="text-center col-md-10 col-md-offset-1">
      <h3>GeoDNA: Search Geo Locations for DNA</h3>
  </div>
  <div class="col-md-10 col-md-offset-1">
      <div class="text-center col-md-12">
          <form action="{{ url_for('geomap_page') }}" method=post class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-8 col-md-offset-2">
                      <textarea class="form-control"
                                name=input_data
                                style="resize: vertical;
                                       height: 50px;
                                       min-height: 50px;
                                       max-height: 500px;
                                       font-family: monospace;
                                       font-size: 12px;"
                                id=load-from-text
                                placeholder="Input DNA sequence or FASTA to search">{{ input_data }}</textarea>
                  </div>
                  <div class="col-sm-4 col-md-offset-4" style="padding-left:40px; padding-right:40px; padding-top:15px">
                      <div class="form-group">
                          <label>Similarity cutoff: <span id="similarity_cutoff">{{ cutoff }}</span>%</label>
                          <input type="range" class="slider" min="5" max="100" value="80" step="5" id="perc_similarity">
                      </div>
                      <!-- <div class="form-group row">
                          <div class="col-sm-7">
                              <label for="num_labels" class="col-form-label">Max results</label>
                          </div>
                          <div class="col-sm-5">
                              <input class="form-control" placeholder="# results" type="text" id="num_labels">
                          </div>
                      </div> -->
                  </div>
              </div>
              <input type=submit class="btn btn-default" value="Search">
          </form>
          <br>
          {% if output %}
            <div class="bg-danger">{{ output }}</div>
            <br>
          {% endif %}
      </div>
  </div>
  <div class="col-md-12 col-md-offset-0">
      <div class="text-center col-md-5">
          <div id="viewerWrapper" style="border: 1px solid rgb(221, 221, 221); border-radius: 10px; padding: 1vh; margin-bottom: 4px; height: 50vh; width: 100%;">
              <div id="viewer" style="height: 48vh; width: 100%; position: relative;">
                  <div id="mapdiv" style="width: 100%; height: 100%;"></div>
                  <canvas style="display: none;"></canvas>
              </div>
          </div>
      </div>
      <div class="text-center col-md-7">
<!--           <div class="text-center">
              <h3>Graph representation</h3>
          </div>
          <br> -->
          <input type='checkbox' id='show_results'></input>
          <table id="matched_samples" class="table table-striped table-bordered centered-table" style="width:auto; font: 12px monospace;" align="center"></table>
          <label id='table_toggler' style="display: none;" class="btn btn-default" for='show_results'>Show more</label>
          <div style="margin-bottom: 25px;"></div>
<!--           {% if tbl_matched_samples %}
            {{ tbl_matched_samples|safe }}
            <br>
          {% endif %} -->
      </div>
  </div>

    <!-- Resources -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script>
      var width = document.getElementById('viewer').offsetWidth;
      var height = document.getElementById('viewer').offsetHeight;
    </script>

  <script>
    var slider = document.getElementById("perc_similarity");
    var output = document.getElementById("similarity_cutoff");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      output.innerHTML = this.value;
    }
    slider.onload = function() {
      output.innerHTML = this.value;
    }
  </script>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="./static/map.js"></script>
    <script src="./data/sample_list.js"></script>
    <script src="./data/random_locations.js"></script>
    <script>
      {% if js_sample_list %}
        {{ js_sample_list|safe }}
      {% endif %}
    </script>
    <script>
        imageSeries.data = samples;

        // imageSeriesTemplate.tooltipText = sample_attributes;

        if (imageSeries.data.length > 0) {
            var columns = []

            for (var column_name in imageSeries.data[0]) {
                columns.push(column_name);
            }

            imageSeriesTemplate.tooltipText = "{" + columns.join("}\n{") + "}";
        }
    </script>
    <script src="./static/initialize_table.js"></script>
    <script>
      function expandTextarea(id) {
          ['input', 'keydown', 'keyup'].forEach(function(e) {
              document.getElementById(id).addEventListener(e, function() {
                  this.style.height = 0;
                  this.style.height = this.scrollHeight + 'px';
              }, false);
          });
      }
      expandTextarea('load-from-text');

      var num_rows = document.getElementById('matched_samples').rows.length;
      var expand_button = document.getElementById('table_toggler');

      if (num_rows >= 14) {
          expand_button.style.display = 'inline';

          var show_message = "Show more";
          var hide_message = "Show less";

          expand_button.addEventListener('click', function() {
              if (expand_button.innerHTML == hide_message) {
                  expand_button.innerHTML = show_message;
              } else {
                  expand_button.innerHTML = hide_message;
              }
          }, false);
      }
    </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
  </script>

</body>
</html>
