<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GeoDNA Search</title>
    <meta name="description" content="Search Geo Locations for DNA Sequences">
    <meta name="author" content="Mikhail Karasikov">

    <link rel="icon" type="image/gif" href="static/deBruijnDNA.gif"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">
<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#mapdiv {
  width: 100%;
  height: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #bd0d38;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #bd0d38;
  cursor: pointer;
}
</style>


</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.karasikov.com">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="./geodna">GeoDNA</a></li>
        <li><a href="./">Visualize</a></li>
<!--         <li><a href="https://drive.google.com/drive/folders/0B3zcrZZIqs3fTGx6RVI3ZnVtNUU?usp=sharing">Download</a></li>
        <li><a href="./static/manuals.html">Manual</a></li>
        <li><a href="./complete">Complete</a></li> -->
      </ul>
    </div>
  </nav>

  <div class="col-md-10 col-md-offset-1">
      <div class="text-center">
          <h3>GeoDNA: Search Geo Locations for DNA</h3>
      </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <form action="{{ url_for('geomap_page') }}" method=post class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <label>FASTA</label>
          <textarea class="form-control"
                    name=input_data rows=8
                    style="resize: vertical; min-height: 48px; font-family: monospace; font-size: 12px"
                    id=load-from-text
                    placeholder="Input DNA sequence to search">{{ input_data }}</textarea>
        </div>

        <div class="col-sm-8">
          <label>Parameters</label>
          <div class="form-horizontal">

            <div class="form-group">
              <div class="col-sm-3">
                <label>% similarity: <span id="f">1.0</span></label>
                <div class="form-group" style="padding-left:13px">
                  <input type="range" class="slider" min="0.0" max="1.0" value="1.0" step="0.05" id="perc_similarity">
                </div>
              </div>
            </div>

            <div class="form-group col-sm-3">
              <label>Max # labels</label>
              <div class="form-group" style="padding-left:13px">
                <input class="form-control" placeholder="# labels" type="text" id="num_labels">
              </div>
            </div>

          </div>
        </div>
      </div>

      <input type=submit class="btn btn-default" value="Search">
    </form>

    <br>
    {% if output %}
      <div class="bg-danger">{{ output }}</div>
      <br>
    {% endif %}
  </div>

  <div class="col-md-12 col-md-offset-0">
      <div class="text-center col-md-5">
          <div id="viewerWrapper" style="border: 1px solid rgb(221, 221, 221); border-radius: 10px; padding: 1vh; margin-bottom: 4px; height: 50vh; width: 100%;">
              <div id="viewer" style="height: 48vh; width: 100%; position: relative;">
                  <div id="mapdiv"></div>
                  <canvas style="display: none;"></canvas>
              </div>
          </div>
      </div>
      <div class="text-center col-md-7">
<!--           <div class="text-center">
              <h3>Graph representation</h3>
          </div>
          <br> -->
          <table id="matched_samples" class="table table-striped table-bordered centered-table" style="width:auto; font: 12px monospace;" align="center"></table>
<!--           {% if tbl_matched_samples %}
            {{ tbl_matched_samples|safe }}
            <br>
          {% endif %} -->
      </div>
  </div>

    <!-- Resources -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script>
      var width = document.getElementById('viewer').offsetWidth;
      var height = document.getElementById('viewer').offsetHeight;
    </script>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="./static/map.js"></script>
    <script src="./data/sample_list.js"></script>
    <script src="./data/random_locations.js"></script>
    <script>
      {% if js_sample_list %}
        {{ js_sample_list|safe }}
      {% endif %}
    </script>
    <script>
        imageSeries.data = samples;

        // imageSeriesTemplate.tooltipText = sample_attributes;

        if (imageSeries.data.length > 0) {
            var columns = []

            for (var column_name in imageSeries.data[0]) {
                columns.push(column_name);
            }

            imageSeriesTemplate.tooltipText = "{" + columns.join("}\n{") + "}";
        }
    </script>
    <script src="./static/initialize_table.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
  </script>
  <script>
    var slider = document.getElementById("perc_similarity");
    var output = document.getElementById("f");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      output.innerHTML = this.value;
    }
  </script>


</body>
</html>
