.link {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.link.auxiliary {
  stroke-dasharray: 0,2 1;
}

.node circle {
  stroke: #333;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
  pointer-events: none;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
}

