name: MetaGraph CI

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:

jobs:

  Linux:
    uses: ./.github/workflows/linux-ci.yml

  macOS:
    uses: ./.github/workflows/macos-ci.yml

  Workflows:
    needs: [Linux]
    uses: ./.github/workflows/workflows.yml

  Docker:
    needs: [Linux, Workflows]
    uses: ./.github/workflows/docker.yml

  Release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [Linux, Workflows]
    uses: ./.github/workflows/release.yml
