name: MetaGraph CI

on: [push]

jobs:

  Linux:

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        alphabet: [DNA, Protein]
        build_type: [Debug, Release]
        compiler: [g++-8, g++-9, g++-10, g++-11]
        build_static: [OFF, ON]
        include:
          - compiler: g++-8
            cxx: g++-8
            cc: gcc-8

          - compiler: g++-9
            cxx: g++-9
            cc: gcc-9

          - compiler: g++-10
            cxx: g++-10
            cc: gcc-10

          - compiler: g++-11
            cxx: g++-11
            cc: gcc-11

        exclude:
          - alphabet: Protein
            compiler: g++-8
          - alphabet: Protein
            compiler: g++-9
          - compiler: g++-8
            build_static: ON
          - compiler: g++-9
            build_static: ON
          - build_type: Debug
            build_static: ON

    name: Linux (${{ matrix.alphabet }}, ${{ matrix.build_type }}, ${{ matrix.compiler }}${{ matrix.build_static == 'ON' && ', static' || '' }})

    steps:
    - uses: actions/checkout@v1

    - name: checkout submodules
      run: git submodule update --init --recursive

    - name: install dependencies
      run: |
        # If clang, use the default version. Otherwise the compiler install with apt-get.
        if [[ "${{ matrix.compiler }}" != "clang" ]]; then
            sudo apt-get install ${{ matrix.compiler }}
        fi

        sudo apt-get install libbz2-dev libhts-dev libjemalloc-dev libboost-all-dev

        if [ "${{ matrix.build_static }}" = "ON" ]; then
          # for static builds, compile curl ourselves
          git clone https://github.com/curl/curl.git
          mkdir curl/_build
          cd curl/_build
          cmake -DBUILD_SHARED_LIBS=off ..
          make -j 2
          sudo make install
        fi

    - name: install dependencies for integration tests
      run: |
        pip3 install parameterized
        sudo apt-get install python3-venv

    - name: install sdsl-lite
      run: |
        export CC=$(which ${{ matrix.cc }})
        export CXX=$(which ${{ matrix.cxx }})
        cd metagraph/external-libraries/sdsl-lite
        ./install.sh $(pwd)

    - name: configure
      run: |
        export CC=$(which ${{ matrix.cc }})
        export CXX=$(which ${{ matrix.cxx }})
        mkdir metagraph/build
        cd metagraph/build
        cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
              -DBUILD_STATIC=${{ matrix.build_static }} \
              -DCMAKE_DBG_ALPHABET=${{ matrix.alphabet }} ..

    - name: build metagraph
      run: cd metagraph/build && make -j 2 metagraph

    - name: build unit tests
      if: matrix.build_static == 'OFF'
      run: cd metagraph/build && make -j 2 unit_tests

    - name: build other
      if: matrix.build_static == 'OFF'
      run: cd metagraph/build && make -j 2

    - name: run unit tests
      if: matrix.build_static == 'OFF'
      run: |
        export LD_LIBRARY_PATH="/usr/local/lib/:$LD_LIBRARY_PATH"
        cd metagraph/build && ./unit_tests

    - name: run integration tests
      run: |
        export LD_LIBRARY_PATH="/usr/local/lib/:$LD_LIBRARY_PATH"
        cd metagraph/build && make check

    # for potential release
    - name: upload static binary
      if: matrix.build_static == 'ON'
      uses: actions/upload-artifact@v2
      with:
        name: metagraph_${{ matrix.alphabet }}_linux_x86
        path: metagraph/build/metagraph_${{ matrix.alphabet }}


  MacOS:

    runs-on: macos-latest

    strategy:
      matrix:
        alphabet: [DNA]
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@v1

    - name: checkout submodules
      run: git submodule update --init --recursive

    - name: install dependencies
      run: brew install bzip2 htslib libomp boost jemalloc

    - name: install dependencies for integration tests
      run: pip3 install parameterized

    - name: install sdsl-lite
      run: |
        cd metagraph/external-libraries/sdsl-lite
        ./install.sh $(pwd)

    - name: configure
      run: |
        mkdir metagraph/build
        cd metagraph/build

        cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
              -DCMAKE_DBG_ALPHABET=${{ matrix.alphabet }} \
              -DWITH_AVX=OFF -DWITH_MSSE42=OFF ..

    - name: build metagraph
      run: cd metagraph/build && make -j 2 metagraph

    - name: build unit tests
      run: cd metagraph/build && make -j 2 unit_tests

    - name: build other
      run: cd metagraph/build && make -j 2

    - name: run unit tests
      run: cd metagraph/build && ./unit_tests

    - name: run integration tests
      run: cd metagraph/build && make check

  Release:
    name: Create Release
    if: contains(github.ref, 'tags/v')
    runs-on: ubuntu-latest
    needs: [Linux]
    steps:
      - uses: actions/checkout@v1

      - name: checkout submodules
        run: git submodule update --init --recursive

      - name: fetch static binary
        uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Tag name
        id: tag_name
        run: |
          echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}

      - name: build source archive including submodules
        run: |
          mkdir -p artifacts/sources
          tag=${{ steps.tag_name.outputs.TAG }}
          bash .github/workflows/git-archive-all.sh --format tar.gz artifacts/sources/${tag}-sources-with-submodules.tar.gz
          bash .github/workflows/git-archive-all.sh --format zip artifacts/sources/${tag}-sources-with-submodules.zip

      - name: create release with static binaries
        uses: svenstaro/upload-release-action@v2
        with:
          release_name: Release ${{ steps.tag_name.outputs.TAG }}
          body: |
            The binaries are currently provided on an experimental basis.
            The Linux binaries are statically linked and hence don't require additional libraries to be installed.
          file: 'artifacts/*/*'
          file_glob: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          prerelease: true
