name: Metagraph C++ CI

on: [push]

jobs:

  build-linux:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        build_type: [Debug, Release]
        compiler: [g++-8, g++-9, g++-10]
        include:
          - compiler: g++-8
            cxx: g++-8
            cc: gcc-8

          - compiler: g++-9
            cxx: g++-9
            cc: gcc-9

          - compiler: g++-10
            cxx: g++-10
            cc: gcc-10

    steps:
    - uses: actions/checkout@v1

    - name: checkout submodules
      run: git submodule update --init --recursive

    - name: install dependencies
      run: |
        # If clang, use the default version. Otherwise the compiler install with apt-get.
        [ "${{ matrix.compiler }}" != "clang" ] && sudo apt-get install ${{ matrix.compiler }}

        wget https://github.com/samtools/htslib/releases/download/1.9/htslib-1.9.tar.bz2
        tar -vxjf htslib-1.9.tar.bz2
        cd htslib-1.9
        make -j 2
        sudo make install

    - name: install dependencies for integration tests
      run: |
        pip3 install parameterized
        sudo apt-get install python3-venv

    - name: install sdsl-lite
      run: |
        export CC=$(which ${{ matrix.cc }})
        export CXX=$(which ${{ matrix.cxx }})
        cd metagraph/external-libraries/sdsl-lite
        ./install.sh $(pwd)

    - name: configure
      run: |
        export CC=$(which ${{ matrix.cc }})
        export CXX=$(which ${{ matrix.cxx }})
        mkdir metagraph/build
        cd metagraph/build
        cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} ..

    - name: build metagraph
      run: cd metagraph/build && make -j 2 metagraph

    - name: build unit tests
      run: cd metagraph/build && make -j 2 unit_tests

    - name: build other
      run: cd metagraph/build && make -j 2

    - name: run unit tests
      run: |
        export LD_LIBRARY_PATH="/usr/local/lib/:$LD_LIBRARY_PATH"
        cd metagraph/build && ./unit_tests

    - name: run integration tests
      run: |
        export LD_LIBRARY_PATH="/usr/local/lib/:$LD_LIBRARY_PATH"
        cd metagraph/build && make check


  build-macos:

    runs-on: macos-latest

    strategy:
      matrix:
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@v1

    - name: checkout submodules
      run: git submodule update --init --recursive

    - name: install dependencies
      run: brew install htslib libomp

    - name: install dependencies for integration tests
      run: pip3 install parameterized

    - name: install sdsl-lite
      run: |
        cd metagraph/external-libraries/sdsl-lite
        ./install.sh $(pwd)

    - name: configure
      run: |
        mkdir metagraph/build
        cd metagraph/build
        cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DWITH_AVX=OFF -DWITH_MSSE42=OFF ..

    - name: build metagraph
      run: cd metagraph/build && make -j 2 metagraph

    - name: build unit tests
      run: cd metagraph/build && make -j 2 unit_tests

    - name: build other
      run: cd metagraph/build && make -j 2

    - name: run unit tests
      run: cd metagraph/build && ./unit_tests

    - name: run integration tests
      run: cd metagraph/build && make check
