name: Test MetaGraph Examples

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test-examples-repo:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    name: Build and test metagraph-examples (${{ matrix.os }})

    steps:
    - name: checkout metagraph-examples
      uses: actions/checkout@v3
      with:
        repository: ratschlab/metagraph-examples
        submodules: recursive

    - name: update metagraph submodule to current commit
      run: |
        cd metagraph/metagraph
        git fetch https://github.com/${{ github.repository }} ${{ github.sha }}
        git checkout ${{ github.sha }}
        git submodule update --init --recursive

    - name: install dependencies (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-13 cmake make libbz2-dev libjemalloc-dev libboost-all-dev libdeflate-dev libzstd-dev

    - name: install dependencies (MacOS)
      if: matrix.os == 'macos-latest'
      run: brew install bzip2 libomp boost jemalloc autoconf automake libdeflate icu4c zstd

    - name: build examples
      run: |
        mkdir build && cd build
        cmake ..
        make -j

    - name: run basic_query example
      run: |
        ./build/basic_query \
          data/graphs/test_graph.dbg \
          data/graphs/test_graph.column.annodbg \
          data/test_query.fa
