name: Test Metagraph Workflows

on:
  workflow_call:

jobs:
  test:
    name: Test metagraph workflows
    runs-on: ubuntu-22.04

    steps:
        - uses: actions/checkout@v2
          with:
            fetch-depth: 1

        - name: Set up Python
          uses: actions/setup-python@v6
          with:
              python-version: 3.13

        - name: fetch static binary
          uses: actions/download-artifact@v4
          with:
              path: artifacts

        - name: setup metagraph binary
          run: |
            sudo ln -s $(pwd)/artifacts/metagraph_DNA_linux_x86/metagraph_DNA /usr/local/bin/metagraph
            sudo chmod +rx /usr/local/bin/metagraph
            /usr/local/bin/metagraph --help
            metagraph --help

        - name: Install python dependencies
          run: |
              python -m pip install --upgrade pip
              pip install pytest
              pip install -r metagraph/workflows/requirements.txt

        - name: Test metagraph-workflows pytest
          run: |
              cd metagraph/workflows
              pytest
